@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
body{
    transition: 0.5s;
    margin:0;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    color: rgb(90, 90, 90);
}
h1{
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    margin: 10px 0;
}
h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 50px 0 10px 0; 
}
p{
    margin: 0px;
    font-size: 20px;
}
a{
    color: rgb(7, 196, 177);
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
}
header{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}
.switch{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(70, 70, 70);
    position: relative;
}
.flicker{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    position: absolute; 
    top: 5px;
    left: 5px;
    transition: 0.5s;
}
.dark{
    background-color: rgb(61, 61, 61);
    transition: 0.5s;
}
.moon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 8px 8px 0 0 #d0d5d2;
    top: 5px;
    margin-left: 50px;
}
.dark .flicker{
    transform: translateX(50px);
    transition: 0.5s;

}
.dark > * {
    color: white;
}
.main{
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.main_text{ 
    padding: 30px;
}
.square{
    width:98%;
    margin: 1%;
    height: 350px;
    background-color: white;
    text-align: center ; 
}
.dark .square{
    background-color: rgb(94, 94, 94);
}
.subsection{
    display: flex;
    flex-wrap: wrap;
}
.hero-image {
    position: relative;
    width: 50%;
    height: 350px;
    display: block;
    margin-bottom: 100px;
  }
  
.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
  }
  
.cube:before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
  }
  
.cube:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
  }
#html {
    left: 100px;
    bottom: 80px;
    background-image: url("images/html-square.png");
    background-size: cover;
    background-color: rgb(175, 119, 227);
    box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
  }
  
#html:before {
    background-color: rgb(189, 154, 221);
  }
  
#html:after {
    background-color: rgb(205, 188, 221);
  }
  
#css {
    left: 250px;
    bottom: 240px;
    background-image: url("images/css-square.png");
    background-size: cover;
    background-color: rgb(227, 119, 191);
    box-shadow: -100px 100px 20px rgb(50 50 50/ 15%);
  }
  
#css:before {
    background-color: rgb(221, 154, 207);
  }
  
#css:after {
    background-color: rgb(221, 188, 211);
  }
  
#javascript {
    left: 450px;
    bottom: 200px;
    background-image: url("images/javascript-square.png");
    background-size: cover;
    background-color: rgb(119, 227, 186);
    box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
  }
  
#javascript:before {
    background-color: rgb(154, 221, 202);
  }
  
#javascript:after {
    background-color: rgb(188, 221, 212);
  }
  
  
#react {
    left: 350px;
    bottom: 40px;
    background-image: url("images/react-square.png");
    background-size: cover;
    background-color: rgb(119, 193, 227);
    box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
  }
  
#react:before {
    background-color: rgb(154, 189, 221);
  }
  
#react:after {
    background-color: rgb(188, 200, 221);
  }

footer{
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    background-color: rgb(204, 203, 203);
}
.dark footer{
    background-color: rgb(0, 0, 0);
}
#LinkedIn{
    background-image:url("images/LInkedIn.PNG") ;
    background-size: cover;
}
#GitHub{
    background-image: url("images/GitHub.PNG");
    background-size: cover;
}
@media only screen and (min-width:970px){
    .main_text{
        width: 50%;
    }

    .square{
        width: 48%;
        margin: 1%;
        height: 600px;
    }
}